body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.regis-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 650px;
    height: auto;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.formregis {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: #466cf4;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    align-self: start;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #466cf4;
    box-shadow: 0 0 4px rgba(70, 108, 244, 0.5);
}

button {
    align-self: center;
    background-color: #466cf4;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40%;
}

button:hover {
    background-color: #3655c2;
}

button:active {
    background-color: #2a449b;
}

.regis-link {
    margin-top: 10px;
    text-align: center;
}

.regis-link a {
    color: #466cf4;
    text-decoration: none;
    font-size: 14px;
}

.regis-link a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .regis-container {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 15px;
    }

    .logo img {
        max-width: 200px;
    }

    button {
        width: 100%;
    }
    .formregis {
        width: 100%;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 95%;
    }
}
